.container {
    padding-bottom: 20%;

}
body {
    background-color: #323232 !important;
}
.navbar {
    background-color: #0D7377;
}
footer {
   padding: 3rem 0;
    background-color: #0d7377;
    text-align: center;
}
footer .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 50px;
}

.project {
    margin-bottom: 2rem;
    width: 18rem; 
    height: 18rem;
}

.icon-link {
    margin: 20px 10px;
    color: white;
  }


/*
@media screen and (max-width: 768px) {
    .container {
        padding-left: 20px;
    }
}
*/